.calendar-env .calendar-sidebar {
	background:#181818;
	border-right:none;
}

.ms-ctn .ms-sel-item {
	background:#252525;
	color:#666666;
	border:none;
}

.ms-ctn .ms-sel-item:hover,
.ms-ctn .ms-trigger:hover {
	background:#999999;
}
.ms-ctn-focus {
	border-color:none;
	box-shadow:none;
}

.form-control,input[type=text] {
	background:#252525;
	border:none;
}

.ms-ctn .ms-trigger {
	border-left:none;
}

.calendar-env .calendar-sidebar .events-list,thead{
	border-top:none;
}

button, input, optgroup, select, textarea {
	color:#666666;
}

th,.calendar-env .calendar-body .fc-content .fc-view table thead tr th {
	border-bottom:1px solid #363636;
	background:#252525;
	color:#666666;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-days  {
	border-bottom:1px solid #363636;
}
.calendar-env .calendar-body .fc-header {
	border:none;
}

tr.fc-first.fc-last {
	border:1px solid #252525;
	border-bottom:1px solid #363636;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed hr, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-row, .fc-unthemed .fc-popover,
.calendar-env .calendar-body .fc-content .fc-view table tbody tr td.fc-day {
	border:1px solid #363636;
}

.fc-unthemed .fc-today,.calendar-env .calendar-body .fc-header .fc-button.fc-state-active
.calendar-env .calendar-body .fc-header .fc-button.fc-state-active {
	background:#252525;
	color:#7b7776;
	border:1px solid #363636;
}

.calendar-env .calendar-body .fc-header .fc-button
 {
	background-color:#181818;
	color:#7b7776;
	border:1px solid #363636;
}

.ui-widget-content,
button[type=button].ui-button,.calendar-env .calendar-body .fc-header .fc-button.fc-state-active {
	background-color:#252525;
	background:#252525;
	border:1px solid #363636;
	color:#7b7776;
}

.ui-state-default .ui-icon {
	background-color:#666666;
}

.fc-state-default {
	text-shadow:none;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-allday,
.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-allday,
.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-divider, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-divider
 {
	background:#333333;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-allday tbody tr .fc-agenda-axis, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-allday tbody tr .fc-agenda-axis {
	border-right:#363636;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr td.fc-agenda-axis, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr td.fc-agenda-axis, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr th.fc-agenda-axis, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr th.fc-agenda-axis
{
	border-right:1px solid #666666;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr td, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr td, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr th, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr td,
.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr th
{
	border-bottom:1px solid #363636;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr.fc-minor td, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr.fc-minor td, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr.fc-minor th, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr.fc-minor th {
	border-bottom-color:#363636;
}

.fc-widget-header {
	display:none;
}

.fc-event-time{
   display : none;
}

.fc-time {
	display:none;
}

.fc-event.color-green {
	background:#00a651;
	border:1px solid #00a651;
}

.fc-event.color-agendaDay {
	background:#4e3a73;
	border:1px solid #4e3a73;	
}

.fc-agenda-allday {
	background:#333333;
}

hr.ui-widget-header {
	display:none;
}

.eventIcon {
	display:block;
	background-position:left center;
	background-repeat:no-repeat;
	/*height:24px;*/
	padding:11px 0 0 26px;
	word-break:break-word;
	background-size:22px 22px;
}

.monthViewWrapper {
	background:none;
	border:none;
}

.monthViewTotal {
	position:absolute;
	top:0;
	left:17px;
	border:1px solid #00a651;
	background:#00a651;
	font-size:10px;
	border-radius:3em;
	border-right-width:0.5em;
	border-left-width:0.5em;
}

.monthViewIcon {
	padding:26px 0 0 26px;
}
.qa_asked {
	background-image:url('/assets/images/Arq/create_question.png');
}

.qa_answered {
	background-image:url('/assets/images/Arq/your_answers.png');
}

.note {
	background-image:url('/assets/images/journal/note.png');
}

.event {
	background-image:url('/assets/images/dashboard/tracker.png');
}