.calendar-env .calendar-sidebar {
	background:#181818;
	border-right:none;
}

.ms-ctn .ms-sel-item {
	background:#252525;
	color:#666666;
	border:none;
}

.ms-ctn .ms-sel-item:hover,
.ms-ctn .ms-trigger:hover {
	background:#999999;
}
.ms-ctn-focus {
	border-color:none;
	box-shadow:none;
}

.form-control,input[type=text] {
	background:#252525;
	border:none;
}

.ms-ctn .ms-trigger {
	border-left:none;
}

.calendar-env .calendar-sidebar .events-list,thead{
	border-top:none;
}

button, input, optgroup, select, textarea {
	color:#666666;
}

th,.calendar-env .calendar-body .fc-content .fc-view table thead tr th {
	border-bottom:1px solid #363636;
	background:#252525;
	color:#666666;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-days  {
	border-bottom:1px solid #363636;
}
.calendar-env .calendar-body .fc-header {
	border:none;
}

tr.fc-first.fc-last {
	border:1px solid #252525;
	border-bottom:1px solid #363636;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed hr, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-row, .fc-unthemed .fc-popover,
.calendar-env .calendar-body .fc-content .fc-view table tbody tr td.fc-day {
	border:1px solid #363636;
}

.fc-unthemed .fc-today,.calendar-env .calendar-body .fc-header .fc-button.fc-state-active
.calendar-env .calendar-body .fc-header .fc-button.fc-state-active {
	background:#252525;
	color:#7b7776;
	border:1px solid #363636;
}

.calendar-env .calendar-body .fc-header .fc-button
 {
	background-color:#181818;
	color:#7b7776;
	border:1px solid #363636;
}

.ui-widget-content,
button[type=button].ui-button,.calendar-env .calendar-body .fc-header .fc-button.fc-state-active {
	background-color:#252525;
	background:#252525;
	border:1px solid #363636;
	color:#7b7776;
}

.ui-state-default .ui-icon {
	background-color:#666666;
}

.fc-state-default {
	text-shadow:none;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-allday,
.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-allday,
.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-divider, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-divider
 {
	background:#333333;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-allday tbody tr .fc-agenda-axis, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-allday tbody tr .fc-agenda-axis {
	border-right:#363636;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr td.fc-agenda-axis, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr td.fc-agenda-axis, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr th.fc-agenda-axis, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr th.fc-agenda-axis
{
	border-right:1px solid #666666;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr td, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr td, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr th, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr td,
.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr th
{
	border-bottom:1px solid #363636;
}

.calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr.fc-minor td, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr.fc-minor td, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaWeek .fc-agenda-slots tr.fc-minor th, .calendar-env .calendar-body .fc-content .fc-view.fc-view-agendaDay .fc-agenda-slots tr.fc-minor th {
	border-bottom-color:#363636;
}

.fc-widget-header {
	display:none;
}

.fc-event-time{
   display : none;
}

/* Hides time on day view */
.fc-time-grid-event.fc-short .fc-time,.eventIcon .fc-time {
	display:none;
}

.fc-ltr .fc-day-view .fc-time-grid .fc-event-container,
.fc-ltr .fc-agendaDay-view .fc-time-grid .fc-event-container {
	margin:0 75% 0 2px;
}

.fc-ltr .fc-_week-view .fc-time-grid .fc-event-container {
	margin:0 2.5% 0 2px;
}

.fc-event.color-green {
	background:#00a651;
	border:1px solid #00a651;
}

.fc-event.color-black {
	background:#363C36;
	border:1px solid #363C36;
}

.fc-event.color-agendaDay {
	background:#4e3a73;
	border:1px solid #4e3a73;	
}

.fc-agenda-allday {
	background:#333333;
}

hr.ui-widget-header {
	display:none;
}

.eventIcon {
	display:block;
	background-position:left center;
	background-repeat:no-repeat;
	height:20px;
	padding:3px 0 0 26px;
	word-break:break-word;
	background-size:22px 22px;
	font-size: 14px;
}

.eventIconForMonth {
	display:block;
	background-position:left center;
	background-repeat:no-repeat;
	height:30px;
	padding:3px 0 0 26px;
	word-break:break-word;
	background-size:40px 28px;
}

.monthViewWrapper {
	background:none;
	border:none;
}

.monthViewTotal {
	position:absolute;
	top:0;
	left:17px;
	border:1px solid #00a651;
	background:#00a651;
	font-size:10px;
	border-radius:3em;
	border-right-width:0.5em;
	border-left-width:0.5em;
}

.monthViewIcon {
	padding:26px 0 0 26px;
}
.qa_asked {
	background-image:url('/assets/images/Arq/create_question.png');
}

.qa_answered {
	background-image:url('/assets/images/Arq/your_answers.png');
}

.note {
	/*background-image:url('/assets/images/journal/note.png');*/
	background-image:url('/assets/images/dashboard/top-words.png');
}

.event {
	background-image:url('/assets/images/button/track/track.png');
}

.facebook_event {
	background-image:url('/assets/images/button/fb/fb.png');
}

.arq_event {
	background-image:url('/assets/images/button/arq/arq.png');
}

.facebook_month_icon1 {
	background-image:url('/assets/images/button/fb/fb1.PNG');
}
.facebook_month_icon2 {
	background-image:url('/assets/images/button/fb/fb2.PNG');
}
.facebook_month_icon3 {
	background-image:url('/assets/images/button/fb/fb3.PNG');
}
.facebook_month_icon4 {
	background-image:url('/assets/images/button/fb/fb4.PNG');
}
.facebook_month_icon5 {
	background-image:url('/assets/images/button/fb/fb5.PNG');
}
.facebook_month_icon6 {
	background-image:url('/assets/images/button/fb/fb6.PNG');
}
.facebook_month_icon7 {
	background-image:url('/assets/images/button/fb/fb7.PNG');
}
.facebook_month_icon8 {
	background-image:url('/assets/images/button/fb/fb8.PNG');
}
.facebook_month_icon9 {
	background-image:url('/assets/images/button/fb/fb9.PNG');
}
.facebook_month_icon9p {
	background-image:url('/assets/images/button/fb/fbm.PNG');
}
.arq_month_icon1 {
	background-image:url('/assets/images/button/arq/ARQ1.PNG');	
}
.arq_month_icon2 {
	background-image:url('/assets/images/button/arq/ARQ2.PNG');	
}
.arq_month_icon3 {
	background-image:url('/assets/images/button/arq/ARQ3.PNG');	
}
.arq_month_icon4 {
	background-image:url('/assets/images/button/arq/ARQ4.PNG');	
}
.arq_month_icon5 {
	background-image:url('/assets/images/button/arq/ARQ5.PNG');	
}
.arq_month_icon6 {
	background-image:url('/assets/images/button/arq/ARQ6.PNG');	
}
.arq_month_icon7 {
	background-image:url('/assets/images/button/arq/ARQ7.PNG');	
}
.arq_month_icon8 {
	background-image:url('/assets/images/button/arq/ARQ8.PNG');	
}
.arq_month_icon9 {
	background-image:url('/assets/images/button/arq/ARQ9.PNG');	
}
.arq_month_icon9p {
	background-image:url('/assets/images/button/arq/arqm.PNG');	
}
.track_month_icon1 {
	background-image:url('/assets/images/button/track/track1.PNG');	
}
.track_month_icon2 {
	background-image:url('/assets/images/button/track/track2.PNG');	
}
.track_month_icon3 {
	background-image:url('/assets/images/button/track/track3.PNG');	
}
.track_month_icon4 {
	background-image:url('/assets/images/button/track/track4.PNG');	
}
.track_month_icon5 {
	background-image:url('/assets/images/button/track/track5.PNG');	
}
.track_month_icon6 {
	background-image:url('/assets/images/button/track/track6.PNG');	
}
.track_month_icon7 {
	background-image:url('/assets/images/button/track/track7.PNG');	
}
.track_month_icon8 {
	background-image:url('/assets/images/button/track/track8.PNG');	
}
.track_month_icon9 {
	background-image:url('/assets/images/button/track/track9.PNG');	
}
.track_month_icon9p {
	background-image:url('/assets/images/button/track/trackm.PNG');	
}
.text_position {
	position:absolute; 
	left:120px;
	width: 720px;
	height:20px;
	overflow:hidden;
}

div.tooltip_btn_wrapper {
	margin:7px 0;
}

input.tooltip_tracker_delete,a.tooltip_tracker_viewMore {
	float:right;
}

.clickable {
	cursor:pointer;
}