/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	background-color:rgb(34,34,36);
}

footer.main {
	margin:0;
}

h3 {
	font-family: arial;
	/*font-weight:bold;*/
}

.powerbar_info {
	float:left;
	background-image:url('/assets/images/header/infoIcon.png');
	background-color:transparent;
	background-size:20px 20px;
	background-position:top center;
	background-repeat:no-repeat;
	height:22px;
	width:22px;
	cursor:pointer;
}

.powerbar_info:hover {
	opacity:0.75;
}

.addG-progress.arq-progress {
	border:none;
	height:40px;
	width:310px;
	float:left;
}

.addG-tresh {
	background-color:transparent;
	background-image:url('/assets/images/header/progressBarSlider.png');
	background-repeat:no-repeat;
	background-size:7px 42px;
	backround-position:center;
}

.arqHeader.col-md-1 {
	width:22%;
}

.analysisTextWrapper {
	float:left;
	margin:10px 0 0 0;
}

.arqText1 {
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	
}
.arqText1,.arqText2 {
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family: Arial;
}
.col-sm-4.clearfix.addG-progresswrap {
	height:45px;
}

.col-sm-3.col-sm-4.clearfix.addG-progresswrap {
	width:52%;
}

.progressPowerBar {
	background-image:url('/assets/images/header/progressBarContainer.png');
	background-size:310px 43px;
	background-position:center;	
	background-repeat:no-repeat;
	border-radius:12px 0 0 12px;
}

.progress{
	height:38px;
	background-color:#222224;/*#181818;*/
}

.progress-bar {
	position:relative;
	height:100%;
	top:0;
	left:9px;
	width:0%;
}

.power-progress-bar {
	top:9px;
}

.arqHeader {
	background-color:#222224;
	height:60px;
}

.arqHeader-logout {
	width:25%;
}

.addG-tresh {
	
	top:3%;
	z-index:1001;
	left:262px;
}

.moodLabel {
	margin:4px 0 0 0;
	font-size:12px;
	line-height:18px;
	text-align:center;
}

.progressBar {
	background-color:transparent;
	background-size:15px 23px;
	background-repeat:repeat-x;
	border-radius:10px 0 0 10px;
	
	height:55%;
}

.progress-bar-success {
	background-image:url('/assets/images/header/progressBarGreen.png');
}

.progress-bar-nosuccess {
	background-image:url('/assets/images/header/progressBarYellow.png');
}

.happymoodProgressBar {
	background-image:url('/assets/images/happyMoodBar.png');
}

.sadmoodProgressBar {
	background-image:url('/assets/images/sadMoodBar.png');
}

.angrymoodProgressBar {
	background-image:url('/assets/images/angryMoodBar.png');
}

.anxiousmoodProgressBar {
	background-image:url('/assets/images/anxiousMoodBar.png');
}

.moodProgress {
	border-radius:5px;
}

.page-container .main-content {
  position: relative;
  float: left;
  width: 100%;
  padding: 20px 20px 0 20px;
  z-index: 2;
  background: #222224;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tile-block.addG-tileblock {
	border:2px solid #8052cf; 
}
.tile-block .tile-content,.addG-tile-header {
	background:#181818;
	font-family: Arial;
}
.addG-tileblock,.addG-darkBG,textarea.wysihtml5,input.input-lg {
	background-color:#181818;
}

input.input-lg.form-control,textarea.wysihtml5.form-control {
	border:none;
	color:#FFFFFF;
}
.tile-content textarea,.mc,.qty,.qa_odd {
	background:#252525;
	color:#ffffff;
	border:none;
}

.panel-primary,.qa_header {
	background:#181818;
}

table > thead:first-child > tr:first-child > th.qa_header,table > tbody > tr > td.qa_even,table > tbody > tr > td.qa_odd {
	border-top:none;
	border-bottom:none;
}

.table-striped > tbody > tr:nth-child(odd) > td.qa_even,
.qa_even {
	background-color:#181818;
}
.qa_header,.qa_even,.qa_view_comments {
	color:#FFFFFF;
	border:none;
}

.mce-panel,.mce-toolbar {
	border:none;
	background-image:none;
}

.mce-content-body  {
	background-color:#181818;
	color:#FFFFFF;
	font-size:14px;
}

.mce-container {
	background-color:#181818;
	border:1px solid rgb(50,50,50);
}

.mce-container .mce-menubtn button span {
	color:#FFFFFF
}

.mce-widget.mce-btn,
.mce-menubar .mce-menubtn:hover,.mce-menubar .mce-menubtn:focus {
	background:none;
}

div.mce-container button,
input[type=submit],button[type=submit],button[type=button] {
padding:0 12px;
background: -webkit-linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
background: -o-linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
background: -moz-linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
background: linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
border:1px solid #7f35cf;
border-radius:3px;
color:#FFFFFF;
}

div.mce-container button,
button.skip,button.flag,button.deleteButton,input.qa_analysis,
form input[value=Cancel],button.image_upload,button.next,button.previous,button.edit,button.myJournals_new,input.tooltip_tracker_delete,.tooltip_tracker_edit,.tooltip_tracker_viewMore {
	background: -webkit-linear-gradient(top, rgb(3,3,3) 0%,rgb(23,23,23) 20%,rgb(36,36,36) 40%,rgb(18,18,18) 55%);
	background: -o-linear-gradient(top, rgb(3,3,3) 0%,rgb(23,23,23) 20%,rgb(36,36,36) 40%,rgb(18,18,18) 55%);
	background: -moz-linear-gradient(top, rgb(3,3,3) 0%,rgb(23,23,23) 20%,rgb(36,36,36) 40%,rgb(18,18,18) 55%);
	background: linear-gradient(top, rgb(3,3,3) 0%,rgb(23,23,23) 20%,rgb(36,36,36) 40%,rgb(18,18,18) 55%);

	border:1px solid #323232;
}

.addG-panelhalfheight {
	height:441px;
}

.addG-panelRecentActivities {
	height:220px;
}

.addG-tileblock, .addG-darkBG {
	background-color:#262626;
}
.panel-primary > .panel-heading {
	border-color:#3f2e74;
}

.panel-primary > .panel-heading > .panel-options > .nav-tabs {
	border-bottom:1px solid #3f2e74;
}

.panel-primary > .panel-heading > .panel-options > .nav-tabs {
	padding:5px 0;
}

.panel-primary > .panel-heading > .panel-options > .nav-tabs > li > a {
	background: -webkit-linear-gradient(top, rgb(111,107,108) 0%,rgb(48,48,48) 53%,rgb(63,46,116) 100%);
	background: -o-linear-gradient(top, rgb(111,107,108) 0%,rgb(48,48,48) 53%,rgb(63,46,116) 100%);
	background: -moz-linear-gradient(top, rgb(111,107,108) 0%,rgb(48,48,48) 53%,rgb(63,46,116) 100%);
	background: linear-gradient(top, rgb(111,107,108) 0%,rgb(48,48,48) 53%,rgb(63,46,116) 100%);
	color:#FFFFFF;
}

.panel-primary > .panel-heading > .panel-options > .nav-tabs > li.active > a {
	background: -webkit-linear-gradient(top, rgb(60,27,114) 0%,rgb(103,67,163) 36%,rgb(62,28,116) 85%);
	background: -o-linear-gradient(top, rgb(60,27,114) 0%,rgb(103,67,163) 36%,rgb(62,28,116) 85%);
	background: -moz-linear-gradient(top, rgb(60,27,114) 0%,rgb(103,67,163) 36%,rgb(62,28,116) 85%);
	background: linear-gradient(top, rgb(60,27,114) 0%,rgb(103,67,163) 36%,rgb(62,28,116) 85%);
	color:#FFFFFF;
}

.tabTitle {
	padding:7px;
}

.allcaps {
	text-transform:uppercase;
}
.boxHeader {
	font-size:14px;
	text-transform:uppercase;
	font-family: Arial;
}

.boxHeader .word1{
	color:#FFFFFF;
	font-family: Arial;
	font-weight:100;
}

.purpleLabel,.boxHeader .word2,.journalEntryTitle  {
	color:#6A44A9;
	font-family: arial;
	font-size: 24px;
}

.lowercase {
	text-transform:none;
}

.calendar-env .calendar-body .fc-content .fc-view .fc-event.color-agendaDay {
	background:#4e3a73;
}

.question_category,input[type=submit].question_category, button[type=submit].question_category, button[type=button].question_category {
	background: -webkit-linear-gradient(top, rgb(46,107,48) 0%,rgb(27,92,38) 100%);
	background: -o-linear-gradient(top, rgb(46,107,48) 0%,rgb(27,92,38) 100%);
	background: -moz-linear-gradient(top, rgb(46,107,48) 0%,rgb(27,92,38) 100%);
	background: linear-gradient(top, rgb(46,107,48) 0%,rgb(27,92,38) 100%);
	color:#FFFFFF;
	border:1px solid #0b0b0d;
}

.form-group h3 {
	color:#FFF;
	font-size:15px;
}

.input-group input {
	color:#000;
}

.form-control,input[type=text],.input-group-addon {
	background:#252525;
	border:none;
}

.input-group-addon:not(:first-child),.input-group-addon {
	border-left:1px solid #181818;
}

input.datepicker,input.bootstrap-timepicker {
	color:rgb(148,148,148);
}

select {
	border:1px solid #252525;
	background:transparent;
	/*border:1px solid rgb(224,224,224);*/
	border-radius:3px;
}

.btn-white,.btn-white:hover {
	border-color:#181818;
	background-color:#181818;
}

.nav-tabs > li > a {
	margin-right:0;
}

.nav-tabs > li:first-child > a {
	margin-left:0;
}

.panel-heading > .panel-options > .nav-tabs > li {
	margin-right:0;
}

.panel-primary > .panel-heading > .panel-options > .nav-tabs > li > a {
	font-size:10px;
}

a.logout {
	color:#aaabae;
}

.pagination.dashboard a{
	background-color:#161616;
	border:none;
	color:#aaabae;
}

.pagination.dashboard li.active a{
	color:#FFFFFF;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #252525;
}

.addG-tile-header.quickJournalTitle {
	padding-top:23px;
}

.FormPlaceHolder form {
	padding-top:5px;
}

#moodSliders {
	border:none;
}

.jspVerticalBar {
	background:#414141;
	border-radius:0.75em;
}
.jspTrack {
	background:#414141;
	border-radius:0.75em;
}

.jspDrag {
	background-image: #5d5f5e url('/assets/images/scrollbar_segment.png');
	background-image: url('/assets/images/scrollbar_segment.png'), -moz-linear-gradient(top,  #5d5f5e 0%, #252726 100%);
	background-image: url('/assets/images/scrollbar_segment.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d5f5e), color-stop(100%,#252726));
	background-image: url('/assets/images/scrollbar_segment.png'), -webkit-linear-gradient(top,  #5d5f5e 0%,#252726 100%);
	background-image: url('/assets/images/scrollbar_segment.png'), -o-linear-gradient(top,  #5d5f5e 0%,#252726 100%);
	background-image: url('/assets/images/scrollbar_segment.png'), -ms-linear-gradient(top,  #5d5f5e 0%,#252726 100%);
	background-image: url('/assets/images/scrollbar_segment.png'), linear-gradient(to bottom,  #5d5f5e 0%,#252726 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d5f5e', endColorstr='#252726',GradientType=0 );
	/*
	background-image:url('/assets/images/scrollbar_segment.png');
	*/
	background-repeat:no-repeat;
	background-position:center;
	background-size:95%;
	border-radius:0.75em;	
}

.journalEntryContent {
	font-size:16px;
	line-height:32px;
	margin:15px 0;
	
}
.journalEntryContent p {
	font-family:arial;
	font-size:15px;
}


.breadcrumb > li {
	margin:0 7px;
}

.breadcrumb > li + li:before {
	content:none;
}

.mce-label {
	text-shadow:none;
	color:#fff;
}