/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}

.addG-progress.arq-progress {
	border:none;
	height:40px;
}

.addG-tresh {
	background-color:transparent;
	background-image:url('/assets/images/header/progressBarSlider.png');
	background-repeat:no-repeat;
	background-size:7px 42px;
	backround-position:center;
}

.arqHeader.col-md-1 {
	width:12%;
}

.analysisTextWrapper {
	float:left;
	margin:10px 0 0 0;
}

.arqText1 {
	font-family: 'Roboto', sans-serif;
	font-weight:100;
}
.arqText1,.arqText2 {
	color:#fff;
	font-size:16px;
	font-weight:bold;
}
.col-sm-4.clearfix.addG-progresswrap {
	height:45px;
}

.col-sm-3.col-sm-4.clearfix.addG-progresswrap {
	width:42%;
}
.progress {
	background-color:#222224;
	background-image:url('/assets/images/header/progressBarContainer.png');
	background-size:339px 43px;
	background-position:center;	
	background-repeat:no-repeat;
}

.progress-bar {
	position:relative;
	height:55%;
	top:9px;
	left:13px;
	border-radius:12px 0 0 12px;
	width:75%;
}
.arqHeader {
	background-color:#222224;
	height:90px;
}

.arqHeader-logout {
	width:45%;
}

.addG-tresh {
	top:5%;
	z-index:1001;
	left:82%;
}

.progress-bar-success {
	background-color:transparent;
	background-image:url('/assets/images/header/progressBarGreen.png');
	background-size:15px 23px;
	background-repeat:repeat;
}
.page-container .main-content {
  position: relative;
  float: left;
  width: 100%;
  padding: 20px;
  z-index: 2;
  background: #222224;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tile-block.addG-tileblock {
	border:2px solid #8052cf; 
}
.tile-block .tile-content,.addG-tile-header {
	background:#181818;
}
.addG-tileblock,.addG-darkBG,textarea.wysihtml5,input.input-lg {
	background-color:#181818;
}

input.input-lg.form-control,textarea.wysihtml5.form-control {
	border:none;
	color:#FFFFFF;
}
.tile-content textarea,.mc,.qty,.qa_odd {
	background:#252525;
	color:#ffffff;
	border:none;
}

.panel-primary,.qa_header {
	background:#181818;
}

table > thead:first-child > tr:first-child > th.qa_header,table > tbody > tr > td.qa_even,table > tbody > tr > td.qa_odd {
	border-top:none;
	border-bottom:none;
}

.table-striped > tbody > tr:nth-child(odd) > td.qa_even,
.qa_even {
	background-color:#181818;
}
.qa_header,.qa_even,.qa_view_comments {
	color:#FFFFFF;
	border:none;
}

input[type=submit],button[type=submit],button[type=button] {
padding:0 12px;
background: -webkit-linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
background: -o-linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
background: -moz-linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
background: linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
border:1px solid #7f35cf;
border-radius:3px;
color:#FFFFFF;
}

button.skip,button.flag,button.deleteButton,input.qa_analysis,
form input[value=Cancel],button.image_upload,button.next,button.previous,button.edit,button.myJournals_new {
	background: -webkit-linear-gradient(top, rgb(3,3,3) 0%,rgb(23,23,23) 20%,rgb(36,36,36) 40%,rgb(18,18,18) 55%);
	background: -o-linear-gradient(top, rgb(3,3,3) 0%,rgb(23,23,23) 20%,rgb(36,36,36) 40%,rgb(18,18,18) 55%);
	background: -moz-linear-gradient(top, rgb(3,3,3) 0%,rgb(23,23,23) 20%,rgb(36,36,36) 40%,rgb(18,18,18) 55%);
	background: linear-gradient(top, rgb(3,3,3) 0%,rgb(23,23,23) 20%,rgb(36,36,36) 40%,rgb(18,18,18) 55%);

	border:1px solid #323232;
}

.addG-panelhalfheight {
	height:441px;
}

.addG-tileblock, .addG-darkBG {
	background-color:#262626;
}
.panel-primary > .panel-heading {
	border-color:#3f2e74;
}

.panel-primary > .panel-heading > .panel-options > .nav-tabs {
	border-bottom:1px solid #3f2e74;
}

.panel-primary > .panel-heading > .panel-options > .nav-tabs {
	padding:5px 0;
}

.panel-primary > .panel-heading > .panel-options > .nav-tabs > li > a {
	background: -webkit-linear-gradient(top, rgb(111,107,108) 0%,rgb(48,48,48) 53%,rgb(63,46,116) 100%);
	background: -o-linear-gradient(top, rgb(111,107,108) 0%,rgb(48,48,48) 53%,rgb(63,46,116) 100%);
	background: -moz-linear-gradient(top, rgb(111,107,108) 0%,rgb(48,48,48) 53%,rgb(63,46,116) 100%);
	background: linear-gradient(top, rgb(111,107,108) 0%,rgb(48,48,48) 53%,rgb(63,46,116) 100%);
	color:#FFFFFF;
}

.panel-primary > .panel-heading > .panel-options > .nav-tabs > li.active > a {
	background: -webkit-linear-gradient(top, rgb(60,27,114) 0%,rgb(103,67,163) 36%,rgb(62,28,116) 85%);
	background: -o-linear-gradient(top, rgb(60,27,114) 0%,rgb(103,67,163) 36%,rgb(62,28,116) 85%);
	background: -moz-linear-gradient(top, rgb(60,27,114) 0%,rgb(103,67,163) 36%,rgb(62,28,116) 85%);
	background: linear-gradient(top, rgb(60,27,114) 0%,rgb(103,67,163) 36%,rgb(62,28,116) 85%);
	color:#FFFFFF;
}

.tabTitle {
	padding:7px;
}

.boxHeader {
	font-size:36px;
}

.boxHeader .word1{
	color:#FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
}

.boxHeader .word2,.journalEntryTitle  {
	color:#6A44A9;
}
.calendar-env .calendar-body .fc-content .fc-view .fc-event.color-agendaDay {
	background:#4e3a73;
}

.question_category,input[type=submit].question_category, button[type=submit].question_category, button[type=button].question_category {
	background: -webkit-linear-gradient(top, rgb(46,107,48) 0%,rgb(27,92,38) 100%);
	background: -o-linear-gradient(top, rgb(55,55,55) 0%,rgb(25,25,25) 45%, rgb(15,15,15) 75%);
	background: -moz-linear-gradient(top, rgb(55,55,55) 0%,rgb(25,25,25) 45%, rgb(15,15,15) 75%);
	background: linear-gradient(top, rgb(55,55,55) 0%,rgb(25,25,25) 45%, rgb(15,15,15) 75%);
	color:#FFFFFF;
	border:1px solid #0b0b0d;
}

.form-group h3 {
	color:#FFF;
}

.input-group input {
	color:#000;
}

.form-control,input[type=text],.input-group-addon {
	background:#252525;
	border:none;
}

.input-group-addon:not(:first-child),.input-group-addon {
	border-left:1px solid #181818;
}

input.datepicker,input.bootstrap-timepicker {
	color:rgb(148,148,148);
}

select {
	border:1px solid #252525;
	background:transparent;
	/*border:1px solid rgb(224,224,224);*/
	border-radius:3px;
}

.btn-white,.btn-white:hover {
	border-color:#181818;
	background-color:#181818;
}