.chartLegend {
	overflow:auto;
	border: 1px solid rgb(84,84,84);
	margin:0 0 0 25px;
}

.plotTooltip {
	position:absolute;
	display: none;
	border: 1px solid #fdd;
	padding: 2px;
	background-color:#fee;
	color:rgb(84,84,84);
	opacity: 1;
	z-index:1100;
}


.randomQuestion {
	margin:34px 0 0 0;
}

.quickForm {
	margin:44px 0 0 0;
}

.quickJournalTitle a {
	color:#FFFFFF;
	font-size:15px;
	font-family: Arial;
	/*font-weight:bold;*/
}


.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background:#ddd url('/assets/images/dashboard/slider-handle.png') 50% 50% no-repeat;
}

.slider .ui-slider-range {background:none;}

#slider1 .ui-label {
	display:block;
	top:-20px;
	margin-left:-3px;
}

#slider1 .ui-label {z-index:1100;}
#slider1 .ui-label a {
	color:rgb(148, 148, 148);
}
		
#slider1 a {
background:#ddd url('/assets/images/dashboard/slider-handle.png') 50% 50% repeat-x;
height:22px;
width:30px;
left:50%
top:-5px;
border:none;
box-shadow:0 0 5px #262626;
}

.addG-sliderContainer > .ui-widget-content a {
	background:#FFF url('/assets/images/dashboard/polarity-dot.png') 50% 50% repeat-x;
	height:24px;
	width:26px;
	border:none;
	top:-9px;
	box-shadow: 0 0 5px 5px #49274a;
}

.addG-sliderContainer > .ui-widget-content {
	
	background:#613ba8;
	background-color:#613ba8;/*#9860e9;*/
	height:3px;
	/*box-shadow: 0 0 5px 1px #a07ddb;*/
	
	box-shadow:0 0 14px 4px #613ba8;
	margin:6px auto 0 auto;
	border:1px solid #9860e9;
	
	/*
	background:none;
	background-image:url('/assets/images/dashboard/overview_purple.png');
	background-size:12px 16px;
	background-repeat:repeat;
	*/
	width:100%;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity:1.0;
}

/* Dashboard slider polarity graphs */
#overview-tab > div.addG-aroundslider {
	border:none;
	background: -webkit-linear-gradient(top, rgb(55,55,55) 0%,rgb(25,25,25) 45%, rgb(15,15,15) 75%);
	background: -o-linear-gradient(top, rgb(55,55,55) 0%,rgb(25,25,25) 45%, rgb(15,15,15) 75%);
	background: -moz-linear-gradient(top, rgb(55,55,55) 0%,rgb(25,25,25) 45%, rgb(15,15,15) 75%);
	background: linear-gradient(top, rgb(55,55,55) 0%,rgb(25,25,25) 45%, rgb(15,15,15) 75%);

}

.addG-sliderContainer {
	height:15px;
	background:#161616;
	border-radius:10px;
	border:1px solid #161616;
	margin:19px auto 0 auto;
	width:90%;
}

/* recent activities */
#recentActivities,#previousPosts {
	overflow-y:scroll;
	padding:15px 0 0 0;
}

.eventWrapper {
	border-bottom:1px solid #7f53ce;
}
.eventIcon {
	display:block;
	background-position:left center;
	background-repeat:no-repeat;
	/*height:55px;*/
	padding:2px 0 0 26px;
	word-break:break-word;
	background-size:24px 24px;
	margin:0 5px 0 0;
}

div.activity {
	white-space: nowrap; 
	line-height:24px;
	/*width:7em;*/
	width:60%;
	/*height:65px;*/
	text-overflow:ellipsis;
	overflow:hidden;
	/*word-break:break-word;*/
	margin:23px 0 0 7px;
	cursor:pointer;
}

div.date {
	line-height:18px;
	margin:15px 0 0 7px;
	font-size:9px;
}

.qa_asked {
	background-size:17px 25px;
	background-image:url('/assets/images/dashboard/ra_create_question.png');
}

.qa_answered {
	background-image:url('/assets/images/dashboard/ra_your_answers.png');
}

.note {
	background-image:url('/assets/images/dashboard/ra_note.png');
}

.event {
	background-image:url('/assets/images/dashboard/ra_tracker.png');
}

/* SLIDE ONE */

#TrackerSwitch {float:right;}
input[name=trackerSwitchCheckbox] {visibility:hidden;}
.TrackerSwitchLabel {
	float:left;
	display:inline-block;
	margin:6px 0 0 0;
}
.slideOne {
	width: 50px;
	height: 10px;
	background: #333;
	margin: 20px;
	float:left;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	display:inline-block;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideOne label {
	display: block;
	width: 16px;
	height: 16px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: -3px;
	left: -3px;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideOne input[type=checkbox]:checked + label {
	left: 37px;
}
/* ROUNDED ONE 
input[type="checkbox"] {
	visibility:hidden;
}

.roundedOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.roundedOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.roundedOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}
*/
.roundedOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.FormPlaceHolder {
	background:#181818;
}

#TrackerSwitch {
	margin:15px;
}
.bootstrap-switch {
	border-color:rgb(84,84,84);
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
	background-color:#181818;
	color:#ffffff;
}
.bootstrap-switch .bootstrap-switch-container {
	width:152%;
}

.bootstrap-switch .bootstrap-switch-label {
	background-color:#252525;
}

.event_even {
	background-color:#1f1f1f;
}

.event_odd {
	background-color:#282828;
}