.profile_header {
	height:250px;
	position:relative;
	margin:0;
}

.profile_header_top,
.panel-body {
	background-color:#222224;
}
.profile_header_top {
	height:125px;
	/*border-bottom:1px solid #7f53ce;*/
}

.panel-primary {
	border:none;
}
.profile_header_bottom,
.panel-primary > .panel-heading {
	background-color:#1e1e1e;
}

.profile_header_bottom {
	height:125px;
}

.profile_header img {
	position:absolute;
	top:68px;
	left:0;
	margin:0 0 0 15px;
}

.profile_header form {
	position:absolute;
	top:130px;
	left:108px;
}

.btn-white,.btn-white:hover {
	border-color:#1e1e1e;
	background-color:#1e1e1e;
}

label[for=user_image].error  {
	color:#fff;
}
.profile_header span.name {
	position:absolute;
	top:65px;
	left:108px;
}

.user_image_upload.form-group {
	margin: 5px 0 0 14px;
}

.name {
	margin:15px;
	font-size:20px;
	color:#fff;
}
.tab-content {
	background-color:#181818;
}
.form-group h3, .form-group h4 {
	color:#ffffff;
}

.form-group input, .form-group textarea {
	background:#252525;
	border:2px solid #363636;
}

label._radio {
	margin:5px 15px;
}

input[type=radio] {
	display:inline-block;
}

.form-group input[type=button],
input[type=submit] {
padding:0 12px;
background: -webkit-linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
background: -o-linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
background: -moz-linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
background: linear-gradient(top,  rgba(45, 31, 84, 1) 0%,rgba(54, 37, 105, 1) 47%,rgba(45, 31, 84, 1) 53%);
border:1px solid #7f35cf;
border-radius:3px;
color:#FFFFFF;

}

.profile_info {
	font-size:16px;
}
.tile-block.addG-tileblock {
	border:none;
}

.addG-tileblock {
	background-color:#181818;
}

.tile-block .myProfile.tile-content {
	padding:5px;
	min-height:25px;
}